<div>
  <div class="modal-header">
    <h3 class="modal-title">Search Modal</h3>
  </div>

  <div class="modal-body">
    <p>Bacon ipsum dolor sit amet ball tip andouille venison pig hamburger, ham kielbasa shank t-bone. Swine pork belly leberkas biltong. Salami cow kielbasa brisket turducken swine sirloin venison boudin andouille pork jowl meatloaf corned beef meatball. Bacon brisket pork chop leberkas kielbasa ground round, strip steak tail.</p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>